$primario: #402005;

body {
	font-family: "MuseoSans", sans-serif;
}

.flex {
	display: flex;
	align-items: center;
}

.contenedor {
	width: 90%;
	max-width: 110rem;
	margin: 0rem auto;
}

.boton {
	border: none;
	color: white;
	padding: 1.25rem 1.5rem;
	background-color: $primario;
}
